* {
    border: none;
    font-family: "Fira Mono", "Symbols Nerd Font";
    font-size: 12px;
    color: #ffffff;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

/*-----module groups----*/
.modules-right {
    background-color: @background;
    border-radius: 20px 0 0 20px;
}
.modules-center {
    background-color: @background;
    border-radius: 20px;
}
.modules-left {
    background-color: @background;
    border-radius: 0 20px 20px 0;
}
/*-----modules indv----*/

#workspaces button {
    padding: 1px 4px;
    background-color: transparent;
}

#workspaces button.active {
    padding: 1px 10px;
    background-color: @focusedButton;
}

#workspaces button.hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

.module {
    padding: 2px 6px;
}

#battery.warning {
    color: @warningOrange;
}
#battery.critical {
    color: @warningRed;
}
